* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Digital-7;
    src: url(./fonts/digital-7.regular.ttf);
}

.text-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}

.text {
    font-size: 4rem;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.calculator-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 480px;
}

.calculator {
    height: 420px;
    width: 420px;
    background-color: #19A2FA;
    border-radius: 30px;
    padding: 30px;
}

.grid-container-1 {
    display: grid;
    grid-template-rows: 100px;
    background-color: white;
    margin-bottom: 20px;
}

input[type=text] {
    font-family: "Digital-7";
    font-size: 6rem;
    text-align: right;
    width: 415px;
    margin-bottom: 20px;
    border-radius: 10px;
    border-style: solid;
}

.grid-container-2 {
    display: grid;
    height: 300px;
    grid-template-columns: repeat(4,80px);
    grid-template-rows: repeat(3,80px);
    column-gap: 33px;
    row-gap: 30px;
}

.buttons {
    background-color: white;
    border-radius: 10px;
    font-family: 'Lisu Bosa', serif;
    font-size: 5rem;
    text-align: center;
    background-color: #1316AA;
    color: white;
}